*{
    margin: 0;
    padding: 0;
}

.admin{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.alinhamentoAdmin{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.bodyCardPrincipal{
    display: flex;
    justify-content: space-evenly;
}

.separadorBodyAdm{
    margin-top: 20px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 800px;
    background-color: gainsboro;
}

.separadorBodyAdm:hover{
    border: 2px solid black;
}

.produto{
    color: black;
}

.cardPrincipal{
    width: 1145px;
}

.divNomeDoProduto{
    height: 100px;
}

.divPadraoAdmin{
    margin-top: 35px;
    border-radius: 2px;
    background-color: rgb(194, 194, 194);
    width: 1000px;
}
